/* Estilos generales */
* {
    text-align: center;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Barra de Navegación */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #A48E6A;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.0rem;
    border-bottom: 1px solid transparent;
    transition: 500ms;
}

nav a:hover {    
    border-color: #fff;
}

/* Encabezado */
header {
    margin-top: calc(70px + 20px);
    color: #ffffff;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-image: url(./assets/img/tokio.webp);
    background-size: cover;
    background-position: center;
    padding: 10px 0;
}

#title{
    font-size: 3.5rem;
    align-self: center;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: gray;
}

#message{
    font-size: 2.25rem;
    align-self: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: gray;
}

/* Sección de Actividades */
.actividades {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.wrapper{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 12.5px;
}

.wrapper img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter:brightness(130%);
    filter:grayscale(20%);
    filter:opacity(90%);
}

/* Sección de Gastronomía */
.gastronomia {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

#wr-gast {
    display: flex;
    justify-content: center;
    align-items: center;
}

#wr-gast .texto{
    align-items: center;
    font-size: small;
}
/* Sección de Sitios de Interés (con carrusel de imágenes) */
.sitios-interes {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.sitios-interes img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}

/* Formulario de Contacto */
.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario input[type="checkbox"] {
    margin-bottom: 25px;
}

.formulario input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario input[type="submit"]:hover {
    background-color: #555;
}

.formulario p {
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 767px) {

    nav ul {
        flex-wrap: wrap;
    }

    .container {
        padding: 10px;
    }

    .wrapper {
        flex-direction: column;
        gap: 10px;
    }

    .wrapper img {
        width: 100%;
        height: auto;
    }

    .gastronomia {
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .wrapper {
        flex-direction: column;
        gap: 15px;
    }

    .wrapper img {
        width: 80%;
        height: auto;
    }
}

@media (min-width: 1024px) {

    .wrapper img {
        width: 300px;
        height: 300px;
    }

}