<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Conocer Tokio</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/2eee655e12.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="fixed-top" id="nav">
        <div class="logo">
            <a href="#">
            <img src="{{ url_for('static', filename='logo.png')}}" alt="logo">
            </a>
        </div>
        <ul>
            <li>
                <a href="#">
                    <span class="nav-text">Inicio</span>
                </a>
            </li>
            <li>
                <a href="#actividades">
                    <span class="nav-text">Actividades</span>
                </a>
            </li>
            <li>
                <a href="#gastronomia">
                    <span class="nav-text">Gastronomía</span>
                    </a>
            </li>
            <li>
                <a href="#sitios-interes">
                    <span class="nav-text">Sitios de Interés</span>
                </a>
            </li>
            <li>
                <a href="#contacto">
                    <span class="nav-text">Contacto</span>
                </a>
            </li>
        </ul>
    </nav>
    <header>
        <h1 id="title">Turismo en Tokio</h1>
        <p id="message">¡Descubre la ciudad!</p>
    </header>
    <div class="container">
        <section class="actividades" id="actividades">
            <h3>Actividades</h3>
            <p>Descubre la cultura, la historia y la diversión que ofrece esta vibrante ciudad.</p>
            <div class="wrapper">
                <div class="act1">
                    <h4>Meditación Zazen</h4>
                    <img src="{{ url_for('static', filename='act1.jpg')}}" alt="Meditación Zazen">
                </div>
                <div class="act2">
                    <h4>Ceremonias de té</h4>
                    <img src="{{ url_for('static', filename='act2.jpg')}}" alt="Ceremonias de te">
                </div>
                <div class="act3">
                    <h4>Arreglos florales - Ikebana</h4>
                    <img src="{{ url_for('static', filename='act3.jpg')}}" alt="Arreglos florales - Ikebana">
                </div>
            </div>
        </section>
        <section class="gastronomia" data-aos="fade-right" data-aos-duration="1250" id="gastronomia">
            <h2>Gastronomía</h2>
            <p>Prueba deliciosos platos de sushi, ramen y más en los restaurantes locales.</p>
            <div class="wrapper" id="wr-gast">
                    <img src="{{ url_for('static', filename='gast1.jpg')}}" alt="Sushi">
                    <div class="texto">
                        <h6>Sushi</h6>
                        <p>Es un plato de la gastronomía japonesa con base de arroz condimentado con vinagre y azúcar.</p>
                    </div>
                    <div class="texto">
                        <h6>Ramen</h6>
                        <p>Sopa cuyos ingredientes principales son los fideos chinos, acompañados de caldo de carne, verduras y carne, marisco o pescado.</p>
                    </div>
                    <img src="{{ url_for('static', filename='gast2.jpg')}}" alt="Ramen">
            </div>
        </section>
        <section class="sitios-interes" data-aos="fade-up" data-aos-duration="1250" id="sitios-interes">
        <h2>Sitios de Interés</h2>
        <div class="carousel-wr">
            <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='santuario.webp')}}" alt="Santuario" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3><b>Templo Sensô-Ji</b></h3>
                        <p class="subtitulo">
                            Templo budista localizado en Asakusa, Tokio, Japón. Es el más antiguo de Tokio y también uno de los más espectaculares en términos artísticos y arquitectónicos.
                        </p>
                    </div>
                </div>
            <div class="carousel-item">
                    <img src="{{ url_for('static', filename='ueno.webp')}}" alt="Ueno" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3><b>Parque de Ueno</b></h3>
                        <p class="subtitulo">
                            La entrada principal del Parque de Ueno comprende más de la mitad de los más de 1000 cerezos del parque y es un lugar popular para contemplarlos.
                        </p>
                    </div>
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='tsukiji.webp')}}" alt="Mercado Tsukiji" class="d-block w-100">
                <div class="carousel-caption">
                    <h3><b>Mercado Tsukiji</b></h3>
                    <p class="subtitulo">
                        Es el mayor mercado mayorista de pescado y productos marinos del mundo y también uno de los más grandes mercados mayoristas de alimentos en general.
                    </p>
                </div>
            </div>
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            </button>
            </div>
        </div>
        </section>
        <section class="contacto" data-aos="zoom-in" data-aos-duration="1250" id="contacto">
            <h2>Contacto</h2>
            <p>¿Tienes alguna pregunta o comentario? ¡Contáctanos!</p>
            <div class="formulario">
                <form action="/agregar_actividad" method="POST" id="FormContacto">
                    <div>
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombreIngresado">
                        <div id="errorNombre"></div>
                    </div>
                    <div>
                        <label for="apellido">Apellido:</label><br>
                        <input type="text" id="apellido" name="ApellidoIngresado">
                        <div id="errorApellido"></div>
                    </div>
                    <div>
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="emailIngresado">
                        <div id="errorEmail"></div>
                    </div>
                    <div>
                        <label for="fecha_desde">Fecha de visita</label>
                        <input type="date" id="fecha_desde" name="FechaVisitaIngresado">
                        <label for="fecha_hasta">Hasta:</label>
                        <input type="date" id="fecha_hasta" name="SalidaIngresado">
                        <div id="errorFecha"></div>
                    </div><br>
                    <div>
                        <label for="actividad">Actividad a reservar</label><br>
                        <Select id="actividad" name="LugarIngresado">
                            <option>---Seleccione una actividad---</option>
                            <option value="">Meditación Zazen</option>
                            <option value="">Ceremonias de té</option>
                            <option value="">Arreglos florales - Ikebana</option>
                            <option value="">Gastronomía</option>
                            <option value="">Paseo por el Mercado Tsukiji</option>
                            <option value="">Paseo por Parque de Ueno</option>
                            <option value="">Paseo por Templo Sensô-Ji</option>
                        </Select>
                        <div id="errorActividad"></div>
                    </div><br>
                    <div>
                        <label for="cant_personas">Cantidad de personas</label><br>
                        <input type="number" id="cant_personas" name="CantidadIngresado" style="width: 100%;">
                        </input>
                        <div id="errorCantidad"></div>
                    </div><br>
                    <div>
                        <textarea name="mensaje" id="mensaje" cols="20" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
                        <div id="errorComentario"></div>
                    </div>
                    <div>
                        <label for="tyc">
                            <input class="inline" id="tyc" type="checkbox" required name="tyc"/> Acepto los <a href="#">términos y condiciones</a>
                        </label>
                    </div>
                    <div>
                        <input type="submit" value="Enviar">
                    </div>
                    <p>¡Gracias por tu visita!</p>
                </form>
            </div>
        </section>
        <section class="crud" data-aos="flip-up" data-aos-duration="1250" id="crud">
            <h2>Reservas</h2>
            <p>En esta sección puedes ver todas las reservas.</p>
            <form id="reservaForm">
                <input type="hidden" id="reservaId">
                <label for="nomb">Nombre:</label>
                <input type="text" id="nomb" required>
                <label for="apell">Apellido:</label>
                <input type="text" id="apell" required>
                <label for="email">Email:</label>
                <input type="e-mail" id="e-mail" required>
                <label for="fecha_d">Fecha desde:</label>
                <input type="date" id="fecha_d" required>
                <label for="fecha_h">Fecha hasta:</label>
                <input type="date" id="fecha_h" required>
                <label for="act">Actividad:</label>
                <input type="text" id="act" required>
                <label for="monto">Monto:</label>
                <input type="number" step="0.01" id="monto" required>
                <label for="cant_pers">Personas:</label>
                <input type="number" id="cant_pers" required>
                <label for="coments">Comentarios:</label>
                <input type="text" id="coments" required>
                <button type="submit">Guardar</button>
            </form>
            <table id="tablaReservas">
                <h2>{{message}}</h2>
                <thead>
                    <tr>
                        {% for header in headers %}
                            <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                        <tr>
                            {% for value in reserva %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
    <footer>
        &copy; 2024 Turismo en Tokio
    </footer>
    <script src="/static/assets/js/validacionContacto.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>